.container-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.body-title td {
  font-weight: bold;
}

.container-table td,th {
  padding: 0.7rem;
  border: 1px solid var(--color-gray);
}

.pokemon-image {
  width: 5rem;
}

.btn-icon{
 margin-right: 1rem;
  color: var(--color-purple-dark);
}

.btn-icon svg{
  font-size: 2rem;

}


th, td, tr {
  border-color: #96D4D4;
}

@media screen and (max-width: 425px) {
  .container-table {
    overflow-x: scroll;
  }

}
