/* --------------- Website Theme --------------- */

:root {
  --color-white: #fff;
  --color-purple: #6658f6;
  --color-purple-dark: #6658f9;
  --color-purple-disabled: #d0cdfc;
  --color-gray: #a4a4a4;
  --color-black: #000000;

  --rounded-md: 4px;
}

/* --------------- General Styles --------------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

::selection {
  background: var(--color-purple);
}
